@charset "UTF-8";

body {
    background: #dedede;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form {
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0px 0px 5px 0 #b6b6b6;
    border-radius: 0.5rem;
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1.6rem;
}

.form input#register,
.form input#login{
    font-weight: bold;
    outline: 0;
    background: #000000;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.form input#register:hover,
.form input#login:hover{
    color: #000000;
    background: #e2e0e0;
}



